@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;

    /* primary */
    --color-primary-50: 235 253 236;
    --color-primary-100: 202 250 204;
    --color-primary-200: 133 236 141;
    --color-primary-300: 106 207 115;
    --color-primary-400: 88 175 95;
    --color-primary-500: 70 143 77;
    --color-primary-600: 54 112 59;
    --color-primary-700: 38 82 41;
    --color-primary-800: 22 53 25;
    --color-primary-900: 7 24 8;
    --color-primary-950: 2 8 2;

    --color-primary-main: var(--color-primary-300);
    --color-primary-active: var(--color-primary-400);
    --color-primary-foreground: var(--color-primary-950);

    /* neutral */
    --color-neutral-50: 246 248 246;
    --color-neutral-100: 232 237 232;
    --color-neutral-200: 201 212 201;
    --color-neutral-300: 170 185 170;
    --color-neutral-400: 141 157 141;
    --color-neutral-500: 114 129 114;
    --color-neutral-600: 88 101 88;
    --color-neutral-700: 63 74 63;
    --color-neutral-800: 40 48 40;
    --color-neutral-900: 17 21 17;
    --color-neutral-950: 5 6 5;

    --color-neutral-main: var(--color-neutral-300);
    --color-neutral-active: var(--color-neutral-400);
    --color-neutral-foreground: var(--color-neutral-950);

    /* destructive */
    --color-destructive-50: 254 245 244;
    --color-destructive-100: 252 229 226;
    --color-destructive-200: 249 192 186;
    --color-destructive-300: 245 151 142;
    --color-destructive-400: 233 107 100;
    --color-destructive-500: 205 73 68;
    --color-destructive-600: 164 52 50;
    --color-destructive-700: 123 36 34;
    --color-destructive-800: 82 21 19;
    --color-destructive-900: 40 6 6;
    --color-destructive-950: 17 2 1;

    --color-destructive-main: var(--color-destructive-500);
    --color-destructive-active: var(--color-destructive-400);
    --color-destructive-foreground: var(--color-destructive-50);

    --color-background: 255 255 255;
    --color-foreground: var(--color-neutral-900);
    --color-card: var(--color-neutral-50);
    --color-card-foreground: var(--color-neutral-900);
    --color-popover: 255 255 255;
    --color-popover-foreground: var(--color-neutral-900);
    --color-secondary: var(--color-neutral-100);
    --color-secondary-foreground: var(--color-neutral-800);
    --color-muted: var(--color-neutral-300);
    --color-muted-foreground: var(--color-neutral-600);
    --color-accent: var(--color-neutral-100);
    --color-accent-foreground: var(--color-neutral-900);
    --color-border: var(--color-neutral-200);
    --color-input: var(--color-neutral-200);
    --color-input-hover: var(--color-neutral-400);
    --color-input-invalid: var(--color-destructive-600);
    --color-ring: var(--color-primary-600);

    --border-radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-destructive-main: var(--color-destructive-300);
      --color-destructive-active: var(--color-destructive-400);
      --color-destructive-foreground: var(--color-destructive-950);

      --color-background: var(--color-neutral-950);
      --color-foreground: var(--color-neutral-100);
      --color-card: var(--color-neutral-900);
      --color-card-foreground: var(--color-neutral-100);
      --color-popover: var(--color-neutral-900);
      --color-popover-foreground: var(--color-neutral-100);
      --color-secondary: var(--color-neutral-800);
      --color-secondary-foreground: var(--color-neutral-200);
      --color-muted: var(--color-neutral-700);
      --color-muted-foreground: var(--color-neutral-400);
      --color-accent: var(--color-neutral-800);
      --color-accent-foreground: var(--color-neutral-100);
      --color-border: var(--color-neutral-800);
      --color-input: var(--color-neutral-800);
      --color-input-hover: var(--color-neutral-600);
      --color-input-invalid: var(--color-destructive-300);
      --color-ring: var(--color-primary-300);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
